:root {
  --text: #D5D5D5;
  --text-h: #D5D5D5;
  --bg: #19262F;
  --border: #2d4048;
  --code-bg: #f4f3ec;
  --accent: #4A93B8;
  --accent-bg: rgba(74, 147, 184, 0.1);
  --accent-border: rgba(74, 147, 184, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;
  --bs-body-color: var(--text);
  --bs-body-color-rgb: 107, 99, 117;
  --bs-secondary-color: var(--text);
  --bs-secondary-color-rgb: 107, 99, 117;
  --bs-heading-color: var(--text);
  --bs-emphasis-color: var(--text);

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #D5D5D5;
    --text-h: #D5D5D5;
    --bs-body-color-rgb: 229, 237, 243;
    --bs-secondary-color-rgb: 229, 237, 243;
    --bg: #19262F;
    --border: #2d4048;
    --code-bg: #1f2028;
    --accent: #4A93B8;
    --accent-bg: rgba(74, 147, 184, 0.15);
    --accent-border: rgba(74, 147, 184, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

.text-body-secondary {
  color: var(--text) !important;
}

.btn-outline-secondary {
  --bs-btn-color: var(--text);
  --bs-btn-border-color: var(--text);
  --bs-btn-hover-bg: var(--text);
  --bs-btn-hover-border-color: var(--text);
  --bs-btn-active-bg: var(--text);
  --bs-btn-active-border-color: var(--text);
}

body {
  margin: 0;
  background-color: #171717;
}

#root {
  background-color: var(--bg);
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid #D5D5D5;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
